.message_container {
    background-color: #f5f5f5;
    margin-bottom: 60px;
}

.message {
    border: 2px solid var(--project-primary-color);
    min-height: 42px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 0.3px;
    max-width: 100%;
}

.message span {
    margin: 0 10px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
